In [1]:
# Name - Madhusmita Mukherjee
# Reg. No. - 20BCE2783
# Campus - Vellore

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

r1 = pd.Series(np.random.rand(4))
r2 = pd.Series(np.random.rand(4))
r3 = pd.Series(np.random.rand(4))
r4 = pd.Series(np.random.rand(4))

df = pd.DataFrame([r1, r2, r3, r4])
df

          0         1         2         3
0  0.029615  0.566745  0.462460  0.784758
1  0.559630  0.468454  0.328866  0.694697
2  0.089652  0.252376  0.935890  0.735553
3  0.451073  0.040875  0.073889  0.641340

In [4]:
# Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

df.columns = ['Random value 1', 'Random value 2', 'Random value 3' , 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.029615        0.566745        0.462460        0.784758
1        0.559630        0.468454        0.328866        0.694697
2        0.089652        0.252376        0.935890        0.735553
3        0.451073        0.040875        0.073889        0.641340

In [5]:
# Task - 3 Find the descriptive statistics of the 'df' dataframe.

df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.282492        0.332112        0.450276        0.714087
std          0.262271        0.234392        0.361652        0.060891
min          0.029615        0.040875        0.073889        0.641340
25%          0.074643        0.199501        0.265122        0.681358
50%          0.270362        0.360415        0.395663        0.715125
75%          0.478212        0.493027        0.580817        0.747854
max          0.559630        0.566745        0.935890        0.784758

In [6]:
# Task - 4 Check for the null values in 'df' and find the data type of the columns.

df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [7]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [8]:
df['Random value 1'].dtype

dtype('float64')

In [9]:
df['Random value 2'].dtype

dtype('float64')

In [10]:
df['Random value 3'].dtype

dtype('float64')

In [11]:
df['Random value 4'].dtype

dtype('float64')

In [12]:
# Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

df.loc[0:, 'Random value 2' : 'Random value 3']

   Random value 2  Random value 3
0        0.566745        0.462460
1        0.468454        0.328866
2        0.252376        0.935890
3        0.040875        0.073889

In [13]:
df.iloc[0:, 1:3]

   Random value 2  Random value 3
0        0.566745        0.462460
1        0.468454        0.328866
2        0.252376        0.935890
3        0.040875        0.073889

In [14]:
# Submitted by MADHUSMITA MUKHERJEE (20BCE2783) - VIT VELLORE