# **TASK 1**

In [ ]:
# TASK 1: Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

import pandas as pd
import numpy as np

s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))

df = pd.DataFrame([s1,s2,s3,s4])
print(df)

          0         1         2         3
0  0.666800  0.211728  0.491237  0.239814
1  0.190224  0.278566  0.807821  0.982840
2  0.228782  0.632665  0.801256  0.738821
3  0.933678  0.937691  0.149705  0.495833

# **TASK 2**

In [ ]:
# TASK 2: Rename the task 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4

df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4'];
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.666800        0.211728        0.491237        0.239814
1        0.190224        0.278566        0.807821        0.982840
2        0.228782        0.632665        0.801256        0.738821
3        0.933678        0.937691        0.149705        0.495833

# **TASK 3**

In [ ]:
# TASK 3:  Find the descriptive statistics of the 'df' dataframe

df.describe(include="all")

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.504871        0.515163        0.562505        0.614327
std          0.358387        0.336842        0.312338        0.319166
min          0.190224        0.211728        0.149705        0.239814
25%          0.219142        0.261857        0.405854        0.431828
50%          0.447791        0.455616        0.646246        0.617327
75%          0.733520        0.708922        0.802897        0.799826
max          0.933678        0.937691        0.807821        0.982840

# **TASK 4**

In [ ]:
# TASK 4: Check for the null values in 'df' and find the data type of the columns.

# Since our DataFrame was created using random real number values, it does not contain any null values.
# So we first manually enter some null values into our DataFrame and then check for null values.

# Entering null values into some specific positions and printing the DataFrame.
df.loc[0,'Random value 2']=np.nan
df.loc[2,'Random value 3']=np.nan
df.loc[3,'Random value 1']=np.nan
print(df,"\n\n")

# Finding the null values
print(df.isnull(),"\n\n")
print(df.isnull().sum(),"\n\n")

# Printing the datatype of all the columns
print("Datatype of column 'Random value 1' : ",df['Random value 1'].dtype)
print("Datatype of column 'Random value 2' : ",df['Random value 2'].dtype)
print("Datatype of column 'Random value 3' : ",df['Random value 3'].dtype)
print("Datatype of column 'Random value 4' : ",df['Random value 4'].dtype)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.666800             NaN        0.491237        0.239814
1        0.190224        0.278566        0.807821        0.982840
2        0.228782        0.632665             NaN        0.738821
3             NaN        0.937691        0.149705        0.495833


   Random value 1  Random value 2  Random value 3  Random value 4
0           False            True           False           False
1           False           False           False           False
2           False           False            True           False
3            True           False           False           False


Random value 1    1
Random value 2    1
Random value 3    1
Random value 4    0
dtype: int64


Datatype of column 'Random value 1' :  float64
Datatype of column 'Random value 2' :  float64
Datatype of column 'Random value 3' :  float64
Datatype of column 'Random value 4' :  float64

# **TASK 5**

In [ ]:
# TASK 5: Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

# Printing the columns using location method: 
print(df.loc[0:3,'Random value 2':'Random value 3'],"\n\n")

#Printing the index location method: 
print(df.iloc[0:4,1:3])

   Random value 2  Random value 3
0             NaN        0.491237
1        0.278566        0.807821
2        0.632665             NaN
3        0.937691        0.149705


   Random value 2  Random value 3
0             NaN        0.491237
1        0.278566        0.807821
2        0.632665             NaN
3        0.937691        0.149705